In [26]:
asd = [['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product manager'],
 ['Khalid', 50000, 'DBA']]

In [27]:

tot_salary = 0
for c in asd:
    tot_salary = tot_salary + c[1]
    
tot_salary

230000

In [28]:
a = 23
b = 34
a *=b
a

782

In [29]:
tot_salary

230000

In [30]:
a =

SyntaxError: invalid syntax (<ipython-input-30-828ec4a4fd72>, line 1)

In [31]:
salary = []
for x in asd:
    salary.append(    x[2]    )
salary

['Software Engineer', 'Product Manager', 'Product manager', 'DBA']

In [33]:
for i in range(1,101):
    print(i * 50000)

50000
100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000
1000000
1050000
1100000
1150000
1200000
1250000
1300000
1350000
1400000
1450000
1500000
1550000
1600000
1650000
1700000
1750000
1800000
1850000
1900000
1950000
2000000
2050000
2100000
2150000
2200000
2250000
2300000
2350000
2400000
2450000
2500000
2550000
2600000
2650000
2700000
2750000
2800000
2850000
2900000
2950000
3000000
3050000
3100000
3150000
3200000
3250000
3300000
3350000
3400000
3450000
3500000
3550000
3600000
3650000
3700000
3750000
3800000
3850000
3900000
3950000
4000000
4050000
4100000
4150000
4200000
4250000
4300000
4350000
4400000
4450000
4500000
4550000
4600000
4650000
4700000
4750000
4800000
4850000
4900000
4950000
5000000

In [34]:
salery

NameError: name 'salery' is not defined

In [35]:
emp = [['Waqas', 27, 'Male', 350000],
 ['Faizan', 22, 'Male', 300000],
 ['Khurram', 25, 'Male', 320000],
 ['Saad', 23, 'Male', 200000]]

In [36]:
for b in emp:
    salary = b[1]
    if salary >= 22:
        print(b[0],"with gender ", b[2], "with salary " ,b[-1],"waleee")

Waqas with gender  Male with salary  350000 waleee
Faizan with gender  Male with salary  300000 waleee
Khurram with gender  Male with salary  320000 waleee
Saad with gender  Male with salary  200000 waleee

In [ ]:
g

In [37]:
if 2==2:
    print("ok")
else:
    print("no")

ok

In [38]:
if 2==3:
    print("ok")
else:
    print("no")

no

In [39]:
a = 2<3
type(a)

bool

In [4]:
username = input("please give your email")
password = input()
if username=="Waqas":
    if password == "123":
        print("login successfull")
        print("Redirecting")

    else:
        print("wrong password")
else:
    print("invalid username")

please give your emailwaqas
123
invalid username

In [11]:
marks =  222

if marks > 90:
    print("A Grade")
    
elif marks > 80:
    print("B Grade")
    
elif marks > 65:
    print("C Grade")
elif marks > 50:
    print("D Grade")
    
else:
    print("F Grade")

A Grade

In [20]:

names = ["Ali","hamza", "Bilal", "Ali","shukur"]

In [23]:
names.reverse()

In [24]:
names

['shukur', 'hamza', 'Bilal', 'Ali', 'Ali']